@model IEnumerable<FinalProject.Models.Office>

<aside>
    <ul style="background-color:#bcbec3");
">
        @foreach (var item in Model)
        {
            <li>@Html.DisplayFor(modelItem => item.Street) @Html.DisplayFor(modelItem => item.HouseNumber) @Html.DisplayFor(modelItem => item.City) @Html.DisplayFor(modelItem => item.Manager)</li>
            <li>Manager: @Html.DisplayFor(modelItem => item.Manager)</li>
        }
    </ul>
</aside>

 



