@model IEnumerable<FinalProject.Models.Office>
@*
<div style="float:left; margin-bottom:185px; margin-right:30px">
    <ul style="background-color:#bcbec3; list-style:circle inside;">
        @foreach (var item in Model)
        {
            <li style="font-weight:bold"> @Html.DisplayFor(modelItem => item.City) @Html.DisplayFor(modelItem => item.Street) @Html.DisplayFor(modelItem => item.HouseNumber)  </li>
            <p> Manager: @Html.DisplayFor(modelItem => item.Manager)</p>
        }
    </ul>
</div>
*@


<link rel="stylesheet" type="text/css" href="~/Content/regularContactStylesheet.css">

<div class="accordion" style="float:left; margin-bottom:185px; margin-right:30px">
    @foreach (var item in Model)
    {
        <div class="accordion-header"> @Html.DisplayFor(modelItem => item.City)</div>
        <div class="accordion-content"> @Html.DisplayFor(modelItem => item.HouseNumber) @Html.DisplayFor(modelItem => item.Street) <br /> @Html.DisplayFor(modelItem => item.Manager)</div>
    }
</div>

<script>
// Clicking on the accordion header title...
    $(".accordion").on("click", ".accordion-header", function () {

        $(".accordion-header").removeClass("active");
        $(this).toggleClass("active").next().slideToggle();

        $('.accordion-content').not($(this).next()).slideUp();
    });
</script>