@model IEnumerable<FinalProject.Models.Office>

<div style="float:left; margin-bottom:185px">
    <ul style="background-color:#bcbec3; list-style:circle inside;">
        @foreach (var item in Model)
        {
            <li style="font-weight:bold">@Html.DisplayFor(modelItem => item.Street) @Html.DisplayFor(modelItem => item.HouseNumber) @Html.DisplayFor(modelItem => item.City) @Html.DisplayFor(modelItem => item.Manager)</li>
            <p>Manager: @Html.DisplayFor(modelItem => item.Manager)</p>
        }
    </ul>
</div>

 



