@model IEnumerable<FinalProject.Models.Office>

@{
    ViewBag.Title = "Contact";
}
<h2>Company Offices</h2>

<p>Feel free to contact every one of our offices  - we want to know what you think!</p>

@using (Html.BeginForm())
{
    <p>
        Office Id number: @Html.TextBox("officeID")
        City: @Html.TextBox("city")
        Manager: @Html.TextBox("manager")
        <input type="submit" value="Search" />
        <input type="button" value="Show all" onclick="location.href='@Url.Action("Index")'" />
    </p>
}

@if (User.Identity.Name.Equals("admin@gmail.com"))
{
    @Html.Partial("_AdminContact", Model);
}
else
{
    @Html.Partial("_RegularContact", Model);
}


    <style>
        /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <script>
            function AddMarker(map, Latitude, Longitude) {
                var latlng = new google.maps.LatLng(Latitude, Longitude);

                var markeroption = new google.maps.Marker({
                    position: latlng,
                    draggable: false,
                    map: map,
                    title: "Center"
                });
            }

            function initMap() {
                var latlng = new google.maps.LatLng(32.812452, 34.996451);

                var options = {
                    zoom: 10, center: latlng,
                    mapTypeId: google.maps.MapTypeId.TERRAIN
                };

                var map = new google.maps.Map(document.getElementById
                    ("map_canvas"), options);

                @foreach (var l in Model)
                {
                     @(string.Format("AddMarker(map, {0},{1});", l.Latitude, l.Longitude));
                }
                return map;
            };
    </script>

    <div id="map_canvas" style="width: 500px; height: 300px; border:solid black 3px" ></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz6T_-pt82oRbHIpMHvVQakDH6PzZ31C8&callback=initMap"
            async defer>
    </script>

