@model IEnumerable<FinalProject.Models.Office>

@{
    ViewBag.Title = "Contact";
}
<h2>Company Offices</h2>

<p>Feel free to contact every one of our offices  - we want to know what you think!</p>

@using (Html.BeginForm())
{
    <p>
        Street: @Html.TextBox("Street")
        City: @Html.TextBox("city")
        Manager: @Html.TextBox("manager")
        <input type="submit" value="Filter" class="btn btn-danger" />
        <input type="button" value="Show all" onclick="location.href='@Url.Action("Contact")'" class="btn btn-danger"/>
    </p>
}
<div id="pageContent" style="min-width: 1000px;">
    @if (User.Identity.Name.Equals("admin@gmail.com"))
    {
        @Html.Partial("_AdminContact", Model);
        <div id="map_canvas" style="width: 800px; height: 500px; border:solid black 3px"></div>
    }
    else
    {
        @Html.Partial("_RegularContact", Model);
        <div id="map_canvas" style="width: 800px; height: 500px; border:solid black 3px"></div>
    }
</div>

    <style>
        /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            margin: 0;
            padding: 0;
        }
    </style>

    <script>
            function AddMarker(map, Latitude, Longitude) {
                var latlng = new google.maps.LatLng(Latitude, Longitude);

                var markeroption = new google.maps.Marker({
                    position: latlng,
                    draggable: false,
                    map: map,
                    title: "Center"
                });
            }

            function initMap() {
                var latlng = new google.maps.LatLng(31.774120, 35.217933);

                var options = {
                    zoom: 7, center: latlng,
                    mapTypeId: google.maps.MapTypeId.TERRAIN
                };

                var map = new google.maps.Map(document.getElementById
                    ("map_canvas"), options);

                @foreach (var l in Model)
                {
                     @(string.Format("AddMarker(map, {0},{1});", l.Latitude, l.Longitude));
                }
                return map;
            };
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz6T_-pt82oRbHIpMHvVQakDH6PzZ31C8&callback=initMap"
            async defer>
    </script>

