@model FinalProject.ViewModel.ReviewDateGroup
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/AdminPage.css">
<div style="text-align:center;margin-bottom:10px">
    <input class="btn" type="button" value="Company Offices" onclick="location.href='@Url.Action("Index","Offices")'" />
    <input class="btn" type="button" value="Reviews" onclick="location.href='@Url.Action("Index","Reviews")'" />
    <input class="btn" type="button" value="Businesses" onclick="location.href='@Url.Action("Index","Businesses")'" />
    <input class="btn" type="button" value="Businesses Categories" onclick="location.href='@Url.Action("Index","Categories")'" />
    <br />
    <div class="row">
        <div class="col-md-1 offset-md-2">@Html.Partial("_ReviewsPerMonth", Model)</div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2">@Html.Partial("_BusinessesPerCategory", Model)</div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2">@Html.Partial("_topFive", Model)</div>
    </div>
</div>


