@model FinalProject.ViewModel.ReviewDateGroup
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/AdminPage.css">
<div style="text-align:center">
    <input class="btn" type="button" value="Company Offices" onclick="location.href='@Url.Action("Index","Offices")'" />
    <input class="btn" type="button" value="Reviews" onclick="location.href='@Url.Action("Index","Reviews")'" />
    <input class="btn" type="button" value="Businesses" onclick="location.href='@Url.Action("Index","Businesses")'" />
    <input class="btn" type="button" value="Businesses Categories" onclick="location.href='@Url.Action("Index","Categories")'" />
    <br />

    @Html.Partial("_ReviewsPerMonth", Model);
    @Html.Partial("_BusinessesPerCategory", Model);
    @Html.Partial("_topFive", Model);
</div>


