@model IEnumerable<EX5.Models.Business>

@*@<link rel="stylesheet" href="~/Content/RegularBusinessStyle.css">*@

<link href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
<style type="text/css">

    h2#b-name, p.note {
        font-size: 100%;
        font-weight: normal;
    }

    ul.u, li {
        list-style: none;
    }

    ul.u {
        overflow: hidden;
        padding: 3em;
    }

        ul.u li a {
            text-decoration: none;
            color: #000;
            background: #ffc;
            display: block;
            height: 10em;
            width: 10em;
            padding: 1em;
            -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);
            -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
            box-shadow: 5px 5px 7px rgba(33,33,33,.7);
            -moz-transition: -moz-transform .15s linear;
            -o-transition: -o-transform .15s linear;
            -webkit-transition: -webkit-transform .15s linear;
        }

        ul.u li {
            margin: 1em;
            float: left;
        }

            ul.u li h2#b-name {
                font-size: 150%;
                font-weight: bold;
                padding-bottom: 0px;
                margin: initial;
                padding: 0px;
            }

            ul.u li p {
                font-family: "Reenie Beanie",arial,sans-serif;
                font-size: 100%;
                padding: initial;
                margin: initial;
            }

            ul.u li a {
                -webkit-transform: rotate(-6deg);
                -o-transform: rotate(-6deg);
                -moz-transform: rotate(-6deg);
            }

            ul.u li:nth-child(even) a {
                -o-transform: rotate(4deg);
                -webkit-transform: rotate(4deg);
                -moz-transform: rotate(4deg);
                position: relative;
                top: 5px;
                background: #cfc;
            }

            ul.u li:nth-child(3n) a {
                -o-transform: rotate(-3deg);
                -webkit-transform: rotate(-3deg);
                -moz-transform: rotate(-3deg);
                position: relative;
                top: -5px;
                background: #ccf;
            }

            ul.u li:nth-child(5n) a {
                -o-transform: rotate(5deg);
                -webkit-transform: rotate(5deg);
                -moz-transform: rotate(5deg);
                position: relative;
                top: -10px;
            }

            ul.u li a:hover, ul li a:focus {
                box-shadow: 10px 10px 7px rgba(0,0,0,.7);
                -moz-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
                -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
                -webkit-transform: scale(1.75);
                -moz-transform: scale(1.75);
                -o-transform: scale(1.75);
                position: relative;
                z-index: 5;
            }
</style >
    <ul class="u" style="margin-bottom:285px">
        @foreach (var item in Model)
        {
            <li onclick="location.href='@Url.Action("Details","Businesses",new { id = item.BusinessID })'">
                 <a href="#">
                    <h2 id="b-name">@Html.DisplayFor(modelItem => item.BusinessName)</h2>
                    <p class="note">
                        @Html.DisplayFor(modelItem => item.StreetAddress)<br/>
                        @Html.DisplayFor(modelItem => item.City)<br />
                        <link rel="stylesheet" type="text/css" href="~/Content/myStylesheet.css">
                        <div class="star-ratings-css">
                            @{
                                var percentStr = "width:" + (@item.AVGrank / 5 * 100) + "%";
                            }
                            <div class="star-ratings-css-top" style=@percentStr><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                            <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                        </div>
                    </p>
                 </a>
            </li>
        }
    </ul>
