@model EX5.Models.Business

@{
    ViewBag.Title = "Details";
}

<div>
    <div class="container">
        <h2 style="color:blueviolet;text-emphasis-style:filled">@Html.DisplayFor(model => model.BusinessName)</h2>
        <div class="panel-group">

            <div class="panel panel-danger" style="display:inline-block ;width:33%">
                <div class="panel-heading">@Html.DisplayNameFor(model => model.Website)</div>
                <div class="panel-body">@Html.DisplayFor(model => model.Website)</div>
            </div>
            <div class="panel panel-info"  style="display:inline-block ;width:33%">
                <div class="panel-heading">@Html.DisplayNameFor(model => model.PhoneNumber)</div>
                <div class="panel-body">@Html.DisplayFor(model => model.PhoneNumber)</div>
            </div>

            <div class="panel panel-warning" style="display:inline-block ;width:33%">
                <div class="panel-heading">@Html.DisplayNameFor(model => model.StreetAddress)</div>
                <div class="panel-body">@Html.DisplayFor(model => model.StreetAddress) @Html.DisplayFor(model => model.City)</div>
            </div>
            <div class="panel panel-primary"  style="display:inline-block ;width:75%">
                <div class="panel-heading">@Html.DisplayNameFor(model => model.Description)</div>
                <div class="panel-body">@Html.DisplayFor(model => model.Description)</div>
            </div>
            <div class="panel panel-success" style="display:inline-block ;width:24%">
                <div class="panel-heading">@Html.DisplayNameFor(model => model.Owner)</div>
                <div class="panel-body">@Html.DisplayFor(model => model.Owner)</div>
            </div>
        </div>
    </div>
    <h2>
        @Html.DisplayNameFor(model => model.AVGrank) : @Html.DisplayFor(model => model.AVGrank)
    </h2>

</div>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="~/Content/style.css">

    <section class='rating-widget' style="margin-bottom:185px">
        <!-- Rating Stars Box -->
        <div class='rating-stars text-center'>
            <ul id='stars'>
                <li class='star' title='Poor' data-value='1'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Fair' data-value='2'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Good' data-value='3'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Excellent' data-value='4'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='WOW!!!' data-value='5'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
            </ul>
        </div>
        <div class='text-message'></div>
        <pstyle>
            @if (User.Identity.Name.Equals("admin@gmail.com"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.BusinessID })
            }

            <button type="button" id="BackButton" onclick="window.location='/businesses'">Back to List of Businesses</button>
            <button type="button" id="addReviewButton" onclick="window.location='/Reviews/Create/' + @Model.BusinessID">Add Review</button>


        </pstyle>
    </section>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script >
        $(document).ready(function () {

            /* 1. Visualizing things on Hover - See next part for action on click */
            $('#stars li').on('mouseover', function () {
                var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

                // Now highlight all the stars that's not after the current hovered star
                $(this).parent().children('li.star').each(function (e) {
                    if (e < onStar) {
                        $(this).addClass('hover');
                    }
                    else {
                        $(this).removeClass('hover');
                    }
                });

            }).on('mouseout', function () {
                $(this).parent().children('li.star').each(function (e) {
                    $(this).removeClass('hover');
                });
            });


            /* 2. Action to perform on click */
            $('#stars li').on('click', function () {
                var onStar = parseInt($(this).data('value'), 10); // The star currently selected
                var stars = $(this).parent().children('li.star');

                for (i = 0; i < stars.length; i++) {
                    $(stars[i]).removeClass('selected');
                }

                for (i = 0; i < onStar; i++) {
                    $(stars[i]).addClass('selected');
                }

                $('#stars li').prop('onclick', null).off('click');

                // JUST RESPONSE (Not needed)
                var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
                var msg = "";
                if (ratingValue > 1) {  
                    msg = "Thanks! You gave them " + ratingValue + " stars.";
                }
                else {
                    msg = "You gave them " + ratingValue + " star. We will let them know that they have to improve.";
                }
                $('.text-message').html("<span>" + msg + "</span>");
                
                $.ajax({
                    type: "POST",
                    url: "/Businesses/GiveRank", 
                    data: {id: @Model.BusinessID, rank:ratingValue},
                    success: function (response) {
                    },
                    error: function (response) {
                        alert("Didn't send rank!");
                    }
                 });
            });
        });

   </script>



<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
<link rel="stylesheet" href="~/Content/myStylesheet.css">
        <div id="text-carousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                    <div class="carousel-inner">
                        @{ 
                            int i = 0;
                            foreach (var rev in Model.Reviews) {
                                string str = (i == 0) ? "item active" : "item";
                                i=1;
                                <div class="@str">
                                <div class="carousel-content">
                                <div>
                                    <p>@rev.Description</p>
                                </div>
                            </div>
                        </div>
                            }
                        }                       
                    </div>
                </div>
            </div>
            <!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#text-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
