@model IEnumerable<EX5.Models.Business>

@{
    ViewBag.Title = "Index";
}

@{
    HashSet<string> allCities = new HashSet<string>();
    foreach (var b in Model)
    {
        if (b.City != null) {
            allCities.Add(b.City.ToLower());
        }
    }

}
@using (Html.BeginForm())
{
    <p >
        Name of business: @Html.TextBox("BusinessName")
        Street address: @Html.TextBox("StreetAddress")
        Category: @Html.TextBox("Category")
        City: <select name="City">
            <option value=""></option>
            @foreach (var c in allCities)
            {
                <option value="@c"> @c</option>
            }
        </select>


        <input type="submit" value="Filter" />
        <input type="button" value="Show all" onclick="location.href='@Url.Action("Index")'" />
    </p>
}

@if (User.Identity.Name.Equals("admin@gmail.com"))
{
    @Html.Partial("_AdminIndex", Model);
}
else
{
        @Html.Partial("_RegularIndex", Model);
}