<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBiz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--Place here css and javascript files-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/main.css" type="text/css" media="screen" />
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="~/Scripts/Script.js"></script>
    <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
    </script>

</head>
<body >
    <header id="shauli-header">
        <h2>MyBiz - The best place to rate and get reviews on local businesses</h2>
    </header>


    <div class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 0px">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    @if (User.Identity.Name.Equals("admin@gmail.com"))
                    {
                        <span class="icon-bar"></span>
                    }
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.Name.Equals("admin@gmail.com"))
                    {
                        <li>@Html.ActionLink("Admin Control", "Index", "Chart")</li>
                    }
                    <li>@Html.ActionLink("Recommendations", "Index", "Recommendations")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>



    <section id="intro">
        <!-- Introduction -->

        <h2 style="padding-bottom: 0px;"> Looking for a business?</h2>

        <p>
            Now it's simpler than ever! <br /> Use our search engine It is easy, safe and... FREE!
        </p>
        <img src="~/images/new_reviewers.png" alt="Shauli" />
    </section>

    @RenderBody()

    <section id="fb" class="m_b_20 m_t_20">
        <div id="fb-root"></div>
        <div class="fb-page" data-href="https://www.facebook.com/MyBiz-334661623631843/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"></div>
    </section>
    <footer>
        <!-- Footer -->
        <div>

            <section id="about">
                <h4 style="font-size:30px">Copyright © MyBiz.co.il</h4>
            </section>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    <!--//Scripts.Render("~/bundles/bootstrap")-->
    @RenderSection("scripts", required: false)


</body>
</html>
