<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MyBiz</title>
    <!--Place here css and javascript files-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/main.css" type="text/css" media="screen" />
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="~/Scripts/Script.js"></script>

   
</head>
<body>
    <header id="shauli-header">
        <h2>MyBiz - The best place to rate and get reviews on local businesses</h2>
    </header>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", "Home")
                </li>
                <li class="nav-item">
                    @Html.ActionLink("About", "About", "Home")
                </li>
                @if (User.Identity.Name.Equals("admin@gmail.com"))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Admin Control", "Admin", "Businesses")
                    </li>
                }
            </ul>
                @Html.Partial("_LoginPartial")
        </div>
    </nav>


        

        <section id="intro">
            <!-- Introduction -->

            <h2 style="padding-bottom: 0px;"> Looking for a business?</h2>

            <p>Now it's simpler than ever! <br/> Use our search engine It is easy, safe and... FREE! 
            </p>
            <img src="~/images/new_reviewers.png" alt="Shauli" />
        </section>

        @RenderBody()
        <aside>
            <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

            <div style="float:left; display:unset">
                <div id="fb-root"></div>

                <div class="fb-page" data-href="https://www.facebook.com/MyBiz-334661623631843/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"></div>
            </div>
        </aside>
        <footer>
            <!-- Footer -->
            <div>
                <section id="about">
                    <header>
                        <h3>About</h3>
                    </header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut la</p>
                </section>
                <section id="blogroll">
                    <header>
                        <h3>Blogroll</h3>
                    </header>
                    <ul>
                        <li><a href="#">NETTUTS+</a></li>
                        <li><a href="#">FreelanceSwitch</a></li>
                    </ul>
                </section>
                <section id="popular">
                    <header>
                        <h3>Popular</h3>
                    </header>
                    <ul>
                        <li><a href="#">This is the title of a blog post</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#">Consectetur adipisicing elit, sed do eiusmod</a></li>
                    </ul>
                </section>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        <!--//Scripts.Render("~/bundles/bootstrap")-->
        @RenderSection("scripts", required: false)


</body>
</html>
